<!-- About Section-->
<section class="bg-light py-5" id="about">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-xxl-8">
        <div class="text-center my-5">
          <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Me</span></h2>
          <p class="lead fw-light mb-4">I'm Gehad Akram, a web developer who believes every line of code can tell a
            story and transform an idea into reality.</p>
          <p class="text-muted">
            Ever since I was a child, working with computers has been my passion. Now, I'm a junior full-stack web
            developer who graduated from the Faculty of Computers and Artificial Intelligence. I have worked on four
            projects, totaling over 350 hours, including e-commerce websites, a Learning Management System (LMS), a
            Content Management System (CMS), and other smaller projects. I specialize in delivering high-quality, fully
            customizable websites and am looking forward to developing your project.
          </p>
          <div class="d-flex justify-content-center fs-2 gap-4">
            <a class="text-gradient" href="https://t.me/BloodMoon07"><i class="bi bi-telegram"></i></a>
            <a class="text-gradient" href="https://www.linkedin.com/in/gehad-akram-74714923a/"><i
                class="bi bi-linkedin"></i></a>
            <a class="text-gradient" href="https://github.com/GehadAkram"><i class="bi bi-github"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>