<!-- Projects Section-->
<section class="py-5" id="projects">
  <div class="container px-5 mb-5">
    <div class="text-center mb-5">
      <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-11 col-xl-9 col-xxl-8">
        <!-- Project Card 1-->
        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
          <div class="card-body p-0">
            <img class="img-fluid p-5" src="project1.png" alt="..."/>
            <div class="d-flex align-items-center">
              <div class="p-5">
                <h2 class="fw-bolder">E-community (LMS) - 2023</h2>
                <p>
                  E-community (e-com) is a website for the benefit of both students and
                  faculty staff members. It provides a set of comprehensive features
                  to support students to register for courses, chat with Professors and
                  TAs, notifications for every important announcement, and viewing their
                  grades and exam halls, get to know the schedule and more. Professors and
                  teaching assistants can view the number of students registered in every
                  course, statistics for students, fill-in attendance sheets among other features.
                </p>
                <h5 class="fw-bolder">Technologies</h5>
                <p class="text-muted">Angular, Bootstrap, Laravel, MySQL</p>
                <div class="text-center">
                  <a class="btn btn-primary px-4 py-3" href="#!">
                  View Project
                </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        
        <!-- Project Card 2-->
        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
          <div class="card-body p-0">
            <img class="img-fluid p-5" src="project2.png" alt="..."/>
            <div class="d-flex align-items-center">
              <div class="p-5">
                <h2 class="fw-bolder">Fashion e-commerce - 2024</h2>
                <p>
                  This is a learning project where i have created a fashion e-commerce website 
                  using Angular and Bootstrap for the front-end and Node.js, Express.js, MongoDB for the back-end.
                </p>
                <h5 class="fw-bolder">Technologies</h5>
                <p class="text-muted">Angular, Bootstrap, Node.js, Express.js, MongoDB</p>
                <div class="text-center">
                  <a class="btn btn-primary px-4 py-3" href="#!">
                  View Project
                </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        There are another 3 projects but i can't find data now
      </div>
    </div>
  </div>
</section>